mqtt_host=localhost
port=8080
log=3
handler=main
exitOnError=true
main.class=sunlabs.brazil.server.ChainHandler
main.handlers=default template file

# not used
map.class=sunlabs.brazil.handler.UrlMapperHandler
map.source=${url};${user-agent}
map.match=([^.]+)([^;]+);.*Mobi.*
map.replace=\\1-mobile\\2

default.class=sunlabs.brazil.handler.DefaultFileHandler
default.defaults=index.bsl index.html

template.class=sunlabs.brazil.template.TemplateHandler
template.templates= \
    set bsl exec form misc style subst add script debug
template.suffix=.bsl
template.debug=true
debug.class=sunlabs.brazil.template.DebugTemplate
debug.debug=true

file.class=sunlabs.brazil.server.FileHandler
set.class=sunlabs.brazil.template.MultipartSetTemplate
set.query=query.
set.headers=headers.
bsl.class=sunlabs.brazil.template.BSLTemplate
exec.class=sunlabs.brazil.sunlabs.ExecTemplate
form.class=sunlabs.brazil.template.FormTemplate
misc.class=sunlabs.brazil.sunlabs.MiscTemplate
style.class=sunlabs.brazil.template.ScriptEvalTemplate
subst.class=sunlabs.brazil.sunlabs.SubstAllTemplate
add.class=sunlabs.brazil.template.AddHeaderTemplate
script.class=sunlabs.brazil.template.ScriptEvalTemplate

mime.bsl=text/html
mime.ico=image/vnd.microsoft.icon
mime.svg=image/svg+xml

# app specific data
radio.pause=pause radio
radio.play=play radio
radio.louder=increase the volume
radio.softer=decrease the volume
radio.next_track=next track
radio.previous_track=previous track
